$color-red: #e74c3c;
$color-yellow: #fcb322;
$color-orange: #ef6c00;
$color-green: #8bc34a;
$color-white: #fff;
$color-black: #000;
$color-grey:  #f4f6f5;
$text-black: #546e7a;
$text-white:  #b0bec5;
$bg-dark: #263238;
