@import "vars";
@import "global";
@import "fonts";

// start header__top

.header__top-wrapper {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__text {
	margin-left: auto;
	margin-right: 30px;
	a {
		color: $color-red;
		text-decoration: none;
	}
	span,
	.header__phone {
		color: $text-black;
	}
}

.header__btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-circles {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}
}

.circle__box {
	& + .circle__box {
		margin-left: 16px;
	}
}
.circle__box-cart {
	position: relative;
	padding-bottom: 30px;
	margin-top: 30px;
	&:hover {
		.menu__cart {
			height: auto;
			overflow: auto;
			border-width: 1px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}
.menu__cart {
	position: absolute;
	min-width: 268px;
	width: 100%;
	min-height: auto;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: $color-white;
	border: 0px solid #cccccc;
	box-shadow: -3px 5px 9px 0px rgba(50, 50, 50, 0.75);
	top: 62px;
	right: 0;
	transition: all 0.3s;
	height: 0;
	overflow: hidden;
	&-box {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 16px;
		border-bottom: 1px solid #e0e0e0;
		display: flex;
	}
	&-img {
		width: 74px;
		height: 58px;
		margin-right: 17px;
	}
	&-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&-name {
		font-size: 15px;
		font-weight: 500;
		color: $bg-dark;
		text-decoration: none;
	}
	&-category {
		font-size: 12px;
		font-weight: 400;
		color: $color-green;
		text-decoration: none;
	}
	span {
		font-size: 16px;
		font-weight: 500;
		color: $color-black;
	}
	&-summ {
		padding-top: 17px;
		padding-right: 20px;
		padding-bottom: 17px;
		padding-left: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-links {
		padding-right: 20px;
		padding-left: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu__cart-telegram {
	padding-top: 20px;
}

.tocart {
	font-size: 14px;
	font-weight: 500;
	color: $color-grey;
	padding: 12px 15px;
	background-color: $color-green;
	text-decoration: none;
}
.tocheckout {
	font-size: 14px;
	font-weight: 500;
	color: $color-grey;
	padding: 12px 15px;
	background-color: $color-red;
	text-decoration: none;
}

.menu__message,
.menu__bell {
	position: absolute;
	min-width: 268px;
	width: 100%;
	min-height: auto;
	padding-top: 0;
	padding-bottom: 0;
	background-color: $color-white;
	border: 0px solid #cccccc;
	box-shadow: -3px 5px 9px 0px rgba(50, 50, 50, 0.75);
	top: 62px;
	right: 0;
	transition: all 0.3s;
	height: 0;
	overflow: hidden;
	&-link {
		position: absolute;
		top: 20px;
		right: 20px;
		text-decoration: none;
		font-family: "icomoon";
		font-size: 16px;
		font-weight: 400;
		color: #b0bec5;
	}
	&-box {
		padding: 20px;
		border-bottom: 1px solid #e0e0e0;
		display: flex;
		position: relative;
	}
	&-img {
		width: 48px;
		height: 48px;
		margin-right: 20px;
	}
}

.circle__box-message,
.circle__box-bell {
	position: relative;
	padding-bottom: 30px;
	margin-top: 30px;
	&:hover {
		.menu__message,
		.menu__bell {
			border-width: 1px;
			height: auto;
			overflow: auto;
			padding-top: 5px;
		}
	}
}

.icons-color::before {
	color: $color-orange;
}

.menu__user {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	&-name {
		font-family: "Roboto", sans-serif;
		font-size: 12px;
		font-weight: 700;
		color: $bg-dark;
		text-decoration: none;
	}
	&-status {
		font-family: "Roboto", sans-serif;
		font-size: 11px;
		font-weight: 400;
		color: $color-green;
		text-decoration: none;
	}
	&-data {
		font-family: "Roboto", sans-serif;
		font-size: 10px;
		font-weight: 400;
		color: #90a4ae;
	}
}


.circle__btn {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	text-decoration: none;
	font-family: "icomoon";
	font-size: 14px;
	font-weight: 400;
	color: #a0a0a0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&:hover {
		&.icon-bell-o,
		&.icon-envelope-o,
		&.icon-shopping-cart {
			color: $color-black;
		}
	}
	span {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		position: absolute;
		top: -7px;
		right: -7px;
		font-size: 11px;
		font-weight: 600;
		color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		&.bell {
			background-color: $color-yellow;
		}
		&.message {
			background-color: $color-orange;
		}
		&.cart {
			background-color: $color-green;
		}
	}
}

.user {
	display: flex;
	align-items: center;
	padding-right: 15px;
	margin-right: 15px;
	margin-top: 24px;
	position: relative;
	padding-bottom: 29px;
	&:hover {
		.user__menu {
			height: auto;
			overflow: auto;
			padding-top: 20px;
			padding-bottom: 6px;
			border-width: 1px;
		}
	}
	&::after {
		content: "\f107";
		position: absolute;
		font-family: "icomoon";
		font-size: 16px;
		font-weight: 400;
		color: #707070;
		top: 0;
		right: 0;
	}
	&__img {
		margin-right: 15px;
	}
	&__name {
		margin-bottom: 5px;
		a {
			font-size: 14px;
			font-weight: 500;
			color: #222222;
			text-decoration: none;
		}
	}
	&__money {
		font-size: 14px;
		font-weight: 700;
		color: $color-green;
	}
}
.user__menu {
	min-width: 160px;
	width: 100%;
	height: auto;
	background-color: $color-white;
	padding: 0px 38px 0px 34px;
	border: 0px solid #cccccc;
	box-shadow: -3px 5px 9px 0px rgba(50, 50, 50, 0.75);
	position: absolute;
	top: 66px;
	transition: all 0.5s;
	height: 0;
	overflow: hidden;
	li {
		margin-bottom: 24px;
	}
	&-link {
		font-size: 12px;
		font-weight: 400;
		color: $text-black;
		text-decoration: none;
	}
}

.header__button {
	padding: 11px 20px;
	border-radius: 4px;
	font-size: 12px;
	color: $color-white;
	text-align: center;
	text-decoration: none;
}
.header__btn-login {
	background-color: $color-green;
}
.header__btn-register,
.header__btn-logout {
	background-color: $color-red;
	margin-left: 7px;
}
.header__btn-login--off {
	display: none;
}

.header__btn-logout {
	display: none;
	&.header__btn-login--on {
		display: block;
	}
}

// end header__top

// start header__menu

.header__menu {
	height: 60px;
	background-color: $bg-dark;
}
.header__menu-wrapper {
	padding: 23px 0;
}
.header__menu-items {
	display: flex;
}
.header__menu-link {
	margin-right: 38px;
	color: $color-white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
}

// end header__menu

// start section search

.search {
	width: 100%;
	height: 532px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 156px;
	padding-bottom: 175px;
	text-align: center;
	&__wrapper {
		&-title {
			margin: 0;
			font-size: 48px;
			font-weight: 700;
			color: $color-white;
			margin-bottom: 34px;
		}
		&-subtitle {
			margin: 0;
			font-size: 20px;
			font-weight: 500;
			color: $color-white;
			margin-bottom: 54px;
		}
		&-form {
			display: inline-block;
			position: relative;
		}
		&-input {
			width: 670px;
			height: 56px;
			padding-top: 20px;
			padding-right: auto;
			padding-bottom: 20px;
			padding-left: 25px;
			border: none;
			border-radius: 4px;
			outline: none;
			background-color: $color-white;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.05em;
			color: #90a4ae;
		}
		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 56px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			outline: none;
			border: none;
			background-color: transparent;
		}
	}
}

.search__input-btn {
	background-color: $color-white;
	position: absolute;
	top: 0;
	right: 0;
}

.search__input-img {
	width: 20px;
	height: 20px;
}

// start decor placeholder

.search__wrapper-input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

// end decor placeholder

// end section search

// start section__products

.products {
	padding-top: 121px;
	padding-bottom: 52px;
	text-align: center;
	background-color: $color-grey;
}
.products__buttons {
	margin-bottom: 60px;
	button {
		background-color: $color-white;
		font-size: 14px;
		font-weight: 500;
		color: $bg-dark;
		padding: 13px 25px;
		border: none;
		margin-left: 3px;
		margin-right: 3px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $color-red;
			color: $color-white;
		}
	}
}

.product__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 43px;
}

.product__item {
	max-width: 442px;
	width: 100%;
	background-color: $color-white;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 35px;
	&-img {
		min-height: 250px;
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 29px;
	}
	&-info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 30px;
		padding-right: 30px;
		border-bottom: 1px solid #e7ecf2;
	}
	&-text {
		width: 320px;
		max-width: 100%;
		text-align: left;
	}
	&-title {
		display: block;
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 500;
		color: $bg-dark;
		text-decoration: none;
	}
	&-category {
		display: block;
		text-align: left;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 500;
		color: $color-green;
		text-decoration: none;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
		color: $bg-dark;
	}
	&-rating {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px 30px 21px;
	}
	&-author {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-right: 13px;
	}

	&-name {
		font-size: 14px;
		font-weight: 500;
		color: $text-black;
		text-decoration: none;
	}

	&-star {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		font-weight: 400;
		color: #b0bec5;
		span {
			color: $bg-dark;
		}
	}
}

// end section__products

// start section products-slider

.products-slider {
	padding: 123px 0 121px;
	text-align: center;
}

.slick-dots {
	margin-top: 32px;
	li {
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
		&.slick-active {
			button {
				background-color: $color-green;
			}
		}
		button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #e8e8e8;
			border: none;
			font-size: 0;
			outline: none;
			cursor: pointer;
		}
	}
}

// end section products-slider

// start section choice

.choice {
	background-color: $bg-dark;
	height: 616px;
	padding: 124px 0 118px;
	text-align: center;
}

.choice__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: $color-white;
}

.choice__item {
	width: 318px;
	min-height: 257px;
	&:hover {
		.choice__item-img {
			background-color: $color-green;
		}
		.choice__item-title {
			color: $color-green;
		}
		.choice__item-img {
			.icon {
				fill: $color-white;
			}
		}
	}
	&-img {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 30px;
		transition: all 0.5s;
	}
	&-title {
		margin: 0;
		font-size: 24px;
		font-weight: 500;
		color: $color-white;
		margin-bottom: 26px;
		transition: all 0.5s;
	}
	&-descr {
		margin: 0;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: $text-white;
	}
}

.icon {
	transition: all 0.5s;
}

.icon-lock {
	width: 50px;
	height: 67px;
}
.icon-heart {
	width: 86px;
	height: 76px;
}
.icon-present {
	width: 71px;
	height: 73px;
}

// end section choice

// start section author

.author {
	background-image: url("../images/author_bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 760px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__block {
		max-width: 653px;
		width: 100%;
		min-height: 216px;
		background-color: $color-green;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 71px 59px 86px 61px;
	}
	&__text {
		width: 260px;
		min-height: 59px;
		display: inline-block;
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;
		color: $color-white;
		margin-right: 50px;
	}
	span {
		font-weight: 700;
	}
	&__link {
		width: 225px;
		height: 63px;
		background-color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		font-weight: 400;
		color: $bg-dark;
		text-decoration: none;
	}
}

// end section author

// start section tutorials

.tutorials {
	padding-top: 66px;
	padding-bottom: 121px;
	text-align: center;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-item {
			max-width: 370px;
			width: 100%;
			min-height: 370px;
			background-color: #f8f8f8;
			transition: all 0.3s;
			&:hover {
				transform: scale(1.05);
			}
		}
		&-img {
			max-width: 370px;
			width: 100%;
			min-height: 270px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
		&-link {
			font-size: 24px;
			font-weight: 700;
			color: $bg-dark;
			text-decoration: none;
			padding: 40px 70px;
		}
	}
}

// end section tutorials

// start footer

.footer {
	min-height: 563px;
	background-color: $bg-dark;
	&__top {
		min-height: 490px;
		padding: 116px 0 100px;
		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: start;
		}
		&-item {
			width: 262px;
			max-width: 100%;
			min-height: 275px;
		}
		&-menu {
			width: 214px;
			max-width: 100%;
		}
		&-title {
			margin: 0;
			font-family: "Raleway", sans-serif;
			font-size: 22px;
			font-weight: 700;
			color: $color-white;
			margin-bottom: 58px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 51px;
				height: 3px;
				background-color: $color-green;
				bottom: -23px;
				left: 0;
			}
		}
		&-text {
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			color: #b7c3c8;
			margin-bottom: 36px;
		}
		&-adress {
			font-style: normal;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			color: $color-white;
			margin-bottom: 27px;
			padding-left: 30px;
			position: relative;
			&::before {
				content: "\e902";
				position: absolute;
				font-family: "icomoon";
				font-size: 18px;
				color: $color-green;
				top: 0;
				left: 0;
			}
		}
		&-phone {
			font-style: normal;
			font-size: 14px;
			line-height: 24px;
			font-weight: 600;
			color: $color-white;
			text-decoration: none;
			padding-left: 30px;
			position: relative;
			&::before {
				content: "\e903";
				position: absolute;
				font-family: "icomoon";
				font-size: 18px;
				color: $color-green;
				top: 0;
				left: 0;
			}
		}
	}

	.footer__menu {
		&-item {
			margin-bottom: 22px;
		}
		&-link {
			font-size: 15px;
			font-weight: 400;
			color: #b7c3c8;
			text-decoration: none;
			padding-left: 20px;
			position: relative;
			&::before {
				content: "\e901";
				position: absolute;
				font-family: "icomoon";
				font-size: 20px;
				color: $color-green;
				top: -4px;
				left: 0;
			}
		}
	}
	.footer__social {
		margin-bottom: 41px;
		display: flex;
		justify-content: start;
		li {
			display: block;
			& + li {
				margin-left: 7px;
			}
		}
		a {
			display: block;
			&:hover {
				animation: bounce 0.2s;
			}
		}
		&-facebook {
			width: 28px;
			height: 28px;
			background: url("../images/css_sprites.png") -10px -10px;
		}
		&-twitter {
			width: 28px;
			height: 28px;
			background: url("../images/css_sprites.png") -58px -10px;
		}
		&-youtube {
			width: 28px;
			height: 28px;
			background: url("../images/css_sprites.png") -106px -10px;
		}
		&-pinterest {
			width: 28px;
			height: 28px;
			background: url("../images/css_sprites.png") -154px -10px;
		}
		&-linkedin {
			width: 28px;
			height: 28px;
			background: url("../images/css_sprites.png") -202px -10px;
		}
	}
	.footer__form {
		position: relative;
		&-title {
			font-size: 20px;
			font-weight: 400;
			color: $color-white;
			margin-bottom: 18px;
		}
		&-input {
			width: 261px;
			height: 40px;
			background-color: $bg-dark;
			border: 1px solid #919699;
			font-size: 14px;
			font-weight: 400;
			color: $color-white;
			outline: none;
			padding-left: 15px;
			&::placeholder {
				color: #697378;
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 43px;
			height: 40px;
			background-color: $color-green;
			border: none;
			outline: none;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			&::before {
				content: "\e900";
				font-family: "icomoon";
				font-size: 20px;
				color: $color-white;
			}
		}
	}
}

.footer__copy {
	min-height: 74px;
	border-top: 1px solid #424d53;
	padding: 27px 0 32px;
	text-align: center;
	&-text {
		font-size: 15px;
		font-weight: 400;
		color: #919699;
	}
}

@keyframes bounce {
	0%,
	50%,
	100% {
		transform: translateY(-0px);
	}
	50% {
		transform: translateY(-2px);
	}
	100% {
		transform: translateY(-4px);
	}
}

// start decor placeholder

.search__wrapper-input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.footer__form-input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.footer__form-input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer__form-input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer__form-input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.footer__form-input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

// end decor placeholder

// end footer
