@import "vars";
@import "global";
@import "fonts";

// start header__top

.header__top-wrapper {
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__text {
	margin-left: auto;
	margin-right: 87px;
	a {
		color: $color-red;
		text-decoration: none;
	}
	span,
	.header__phone {
		color: $text-black;
	}
}
.header__btn {
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
.header__btn-login {
	background-color: $color-green;
}
.header__btn-register {
	background-color: $color-red;
	margin-left: 7px;
}

// end header__top

// start header__menu

.header__menu {
	height: 60px;
	background-color: $bg-dark;
}
.header__menu-wrapper {
	padding: 23px 0;
}
.header__menu-items {
	display: flex;
}
.header__menu-link {
	margin-right: 38px;
	color: $color-white;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
}

// end header__menu

// start section search

.search {
	width: 100%;
	height: 532px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 156px;
	padding-bottom: 175px;
	text-align: center;
	&__wrapper {
		&-title {
			margin: 0;
			font-size: 48px;
			font-weight: 700;
			color: $color-white;
			margin-bottom: 34px;
		}
		&-subtitle {
			margin: 0;
			font-size: 20px;
			font-weight: 500;
			color: $color-white;
			margin-bottom: 54px;
		}
		&-form {
			display: inline-block;
			position: relative;
		}
		&-input {
			width: 670px;
			height: 56px;
			padding-top: 20px;
			padding-right: auto;
			padding-bottom: 20px;
			padding-left: 25px;
			border: none;
			border-radius: 4px;
			outline: none;
			background-color: $color-white;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.05em;
			color: #90a4ae;
		}
		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 56px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			outline: none;
			border: none;
			background-color: transparent;
		}
	}
}

.search__input-btn {
	background-color: $color-white;
	position: absolute;
	top: 0;
	right: 0;
}

.search__input-img {
	width: 20px;
	height: 20px;
}

// start decor placeholder

.search__wrapper-input::-webkit-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input::-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:-moz-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:-ms-input-placeholder {
	opacity: 1;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus::-webkit-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus::-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus:-moz-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}
.search__wrapper-input:focus:-ms-input-placeholder {
	opacity: 0;
	transition: opacity 0.3s ease;
}

// end decor placeholder

// end section search

// start section__products

.products {
	padding-top: 121px;
	padding-bottom: 52px;
	text-align: center;
	background-color: $color-grey;
}
.products__buttons {
	margin-bottom: 60px;
	button {
		background-color: $color-white;
		font-size: 14px;
		font-weight: 500;
		color: $bg-dark;
		padding: 13px 25px;
		border: none;
		margin-left: 3px;
		margin-right: 3px;
		cursor: pointer;
		&.mixitup-control-active {
			background-color: $color-red;
			color: $color-white;
		}
	}
}

.product__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 43px;
}

.product__item {
	max-width: 442px;
	width: 100%;
	background-color: $color-white;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 35px;
	&-img {
		min-height: 250px;
		display: block;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 29px;
	}
	&-info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 30px;
		padding-right: 30px;
		border-bottom: 1px solid #e7ecf2;
	}
	&-text {
		width: 320px;
		max-width: 100%;
		text-align: left;
	}
	&-title {
		display: block;
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 500;
		color: $bg-dark;
		text-decoration: none;
	}
	&-category {
		display: block;
		text-align: left;
		margin-bottom: 16px;
		font-size: 14px;
		font-weight: 500;
		color: $color-green;
		text-decoration: none;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
		color: $bg-dark;
	}
	&-rating {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px 30px 21px;
	}
	&-author {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-right: 13px;
	}

	&-name {
		font-size: 14px;
		font-weight: 500;
		color: $text-black;
		text-decoration: none;
	}

	&-star {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		font-weight: 400;
		color: #b0bec5;
		span {
			color: $bg-dark;
		}
	}
}

// end section__products

// start section products-slider

.products-slider {
	padding: 123px 0 121px;
	text-align: center;
}

.slick-dots {
	margin-top: 32px;
	li {
		display: inline-block;
		margin-left: 3px;
		margin-right: 3px;
		&.slick-active {
			button {
				background-color: $color-green;
			}
		}
		button {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #e8e8e8;
			border: none;
			font-size: 0;
			outline: none;
			cursor: pointer;
		}
	}
}

// end section products-slider

// start section choice

.choice {
	background-color: $bg-dark;
	height: 616px;
	padding: 124px 0 118px;
	text-align: center;
}

.choice__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	color: $color-white;
}

.choice__item {
	width: 318px;
	min-height: 257px;
	&:hover {
		.choice__item-img {
			background-color: $color-green;
		}
		.choice__item-title {
			color: $color-green;
		}
		.choice__item-img {
			.icon {
				fill: $color-white;
			}
		}
	}
	&-img {
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		margin-bottom: 30px;
		transition: all .5s;
	}
	&-title {
		margin: 0;
		font-size: 24px;
		font-weight: 500;
		color: $color-white;
		margin-bottom: 26px;
		transition: all .5s;
	}
	&-descr {
		margin: 0;
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;
		color: $text-white;
	}
}

.icon {
	transition: all .5s;
}

.icon-lock {
	width: 50px;
	height: 67px;
}
.icon-heart {
	width: 86px;
	height: 76px;
}
.icon-present {
	width: 71px;
	height: 73px;
}
